@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: url(images/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}